<div class="container">
  <div class="row">
    <div class="col">
  <h1>Eat-Da-Burger!</h1>
  <h2>Choose what you want to eat:</h2>
  <form class="create-form">

    <div class="form-group">

      <textarea class="form-control" id="burger" name="name" rows="1"></textarea>
    </div>

    <div class="form-group">

      <input class="radio" type="radio" name="devour" value="0" checked> Enter a burger you want to eat and click
      "ORDER" button!<br>
      <button type="submit" class="btn" id="add">ORDER </button>
    </div>


  </form>
  </div>
</div>
</div>
  <div class="row">
    <div class="col-sm-6"></div>

    <div class="col-sm-3 menu">
      <h2>You Ordered:</h2>

      <ul>
        {{#each burgers}}
        {{#unless this.devour}}
        {{> burgers/burger-block devour=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div id="devoured" class="col-sm-3">
      <h2>Devoured:</h2>

      <ul>
        {{#each burgers}}
        {{#if devour}}
        {{> burgers/burger-block devour=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>


