<h1>Eat-Da-Burger!</h1>

<h2>Choose what you want to eat:</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devour}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured:</h2>

<ul>
  {{#each burgers}}
    {{#if devour}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Burger Menu:</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Add Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
   
    <input type="radio" name="devour" value="0" checked> Enter a burger you want to eatand click "Add" button!<br>
    
  </div>

  <button type="submit">Add </button>
</form>
