body {
  background-color: rgb(248, 248, 120);
}

h1 {
  text-align: center;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  margin-bottom: 30px;
  font-weight: bolder;
}

h2 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
}

h3 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  width: 85%;
}

li {
  color: blue;
  padding: 5px;
  margin: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  background: rgb(248, 248, 120);
  padding: 5px;
}

.row {
  width: 959px;
  margin: 0 auto;
    
}

.col-sm-6 {
  display: inline-table; 

}

#devoured {
  text-align: left;
  margin-left: 35px;

} 

.form-control {
  width: 40%;
  margin: 0 auto;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin: 5px;
  text-align: center;

}

#add {
  margin: 5px;
}
